@import "tailwindcss";
h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
@tailwind utilities;


ol {
    @apply list-decimal list-inside
}
ul {
    @apply list-disc list-inside
}

.hide-scrollbar {
    white-space: nowrap;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #c7bebd;
    border-bottom-color: green;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

@keyframes slideFromAbove {
    from {
        transform: scale(0.85);
    }
    to {
        transform: scale(1);
    }
}

@keyframes backgroundColorChange {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgb(76, 84, 97, 0.5);
    }
}

.dialog-animation {
    animation: slideFromAbove 0.2s ease-out;
}

.bg-dialog-animation {
    animation: backgroundColorChange 0.3s forwards;
}

@keyframes drawerAnimation {
    from {
        transform: translateX(600px);
    }
    to {
        transform: translateX(0);
    }
}

.drawer-animation {
    animation: drawerAnimation 0.5s ease-out;
}